.table-section {
  width: calc(100vw - 1000px);
  height: calc(100vh - 100px);
  overflow: scroll;
  border: 1px solid rgb(198, 198, 198);
}

table {
  border-spacing: 0;
}

th {
  border: 1px solid rgb(198, 198, 198);
  padding: 5px;
  width: 80px;
  min-width: 80px;
  position: sticky;
  top: 0;
  background-color: pink;
}

td {
  border: 1px solid rgb(198, 198, 198);
  padding: 5px;
  width: 80px;
  min-width: 80px;
}

.table-section th:nth-child(1),
.table-section td:nth-child(1) {
  position: sticky;
  left: 0;
  background-color: rgb(200, 240, 255);
}

.table-section th:nth-child(2),
.table-section td:nth-child(2) {
  position: sticky;
  left: 92px;
  background-color: rgb(200, 240, 255);
}

.table-section th:nth-child(1),
.table-section th:nth-child(2) {
  z-index: 2;
}

/* ref video: https://youtu.be/_dpSEjaKqSE?si=RCH8rEHVC4E-Pzxh */